<div class="row">
  <div class="container">
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th class="price">
              Price(USD)
              <span class="sort-wrapper">
                <img
                  class="sort-img"
                  src="../../../assets/Images/up.png"
                  alt=""
                  srcset=""
                  *ngIf="sortType == 'asc'"
                  (click)="sorting()"
                />
                <img
                  class="sort-img"
                  src="../../../assets/Images/down.png"
                  alt=""
                  srcset=""
                  *ngIf="sortType == 'des'"
                  (click)="sorting()"
                />
                <img
                  class="sort-img"
                  src="../../../assets/Images/all-data.png"
                  alt=""
                  srcset=""
                  *ngIf="sortType == 'allData'"
                  (click)="sorting()"
                />
              </span>
            </th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productsData">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.price }}</td>
            <td>
              <img
                class="product-image"
                [src]="item?.images"
                srcset=""
                alt=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="col-2">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

    </div> -->
  </div>
</div>
