<div class="container">
  <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label class="form-label title" for="">User Name</label>
      <input
        type="text"
        class="form-control"
        placeholder=""
        formControlName="username"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label class="form-label title" for="">Password</label>
      <input
        type="text"
        class="form-control"
        placeholder=""
        formControlName="password"
        name="password"
      />
    </div>
    <div>
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
